.display-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.my-table{
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}
.table{
    width: 80%;
}
.btn-delt{
    color: red;
}
.btn-edit{
    color: #00BBC9;
}
.edit-sup{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}