.l-container{
    width: 100%;
    height: 100vh;
    background-color: #C4C4C4;
    padding: 0;
    margin: 0;
}
.maps-result{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.location-icon{
    font-size : 23px;
    position: relative;
    color: blue;
    cursor: pointer;
}
