.bar{
display: flex;
flex-direction: row;
}

.logo-provider {
    margin-left: 50px;
    margin-top: 0px;
    width: 6%;
}
h3{
    color: #202022;
  /*  padding-left: 10rem;
    padding-top: 20px;*/
}
.user-login{
    width: auto;
    height: 100%;
    font-size: 3.7rem;
    color: #373534;
}
.second{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 25px;
    justify-content: space-between;
}
.user-modal{
    background-color: blue;
    width: 0px;
    height: 0px;
}
/*
.modalheader,.modalfooter,.modalbody{
    background-color: red;
    top: 0px;
    right:0px;
}*/
/*.content-modal{
    position: absolute;
    background-color: red;
    top:0;
    right:0;
} */